body {
    margin: 0;
    height: 100;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.navbar {
    display: flex;
    justify-content: space-between; 
    background-color: #333;
    color: #fff;
    padding: 10px;

}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-right: 15px; 
}

.navbar ul li:last-child {
    margin-right: 0;
}
.navbar ul li a {
    color: #fff;
    text-decoration: none; 
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 30vh 70vh; 
}
.grid-item {
    background-color: #8ca1a5;
    color: white;
    padding: 0px;
    text-align: center;
    overflow: hidden;
}

.item1 {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} 
.item2 {
    grid-column: 2;
    grid-row: 1;
} 
.item3 {
    grid-column: 3;
    grid-row: 1;

} 
.item5 {
    grid-column: 2/4;
    grid-row: 2;
    overflow: auto;
} 
.footer
  {
    display: flex;
    background-color: #333;
    justify-content: center;

  }
  .footer-content{
    color: #fff;
    align-content: center; 
  }